<app-sidebar></app-sidebar>
<ion-content  class="mainbackground">
<div class="container">
<div class="header">
<div class="row">
<div class="col-8"><div class="title"><a (click)="settingsPage()" class="back-btn"><i class="fas fa-angle-left" ></i></a>a propos</div>
</div>
<div class="col-4 text-right"><a class="pulse-animation notification-btn" (click)="notificationsPage()"><i class="far fa-bell"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg" class="width-100"/></div></div>
</div>
</div>
<div class="body">
<div class="theme accordion" id="faqs">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Qu'est ce que Malado? <i class="fas fa-angle-up"></i>
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqs">
      <div class="card-body">
        Pour assurer la productivité de ses collaborateurs, la DSI de la SONATEL a mis en place une hotline. Cette dernière assiste sur les problèmes liés aux hardwares (poste de travail, poste IP…) et aux softwares (compte bloqué, mot de passe expiré etc.).

La hotline reçoit beaucoup d’appels par jour. Avec un nombre limité de ressources humaines, le taux d’abandon est croissant et le temps de prise en charge important. Il est alors question de mettre en place une plateforme (mobile de préférence) permettant aux utilisateurs de régler leurs problèmes en toute autonomie pour une augmentation de leur productivité, une réduction de la charge de hotline, etc.
Malado est là pour régler vos problèmes techniques chers collaborateurs en favorisant l'autonomisation.
 A partir de notre  App, Quelques cliques suffisent pour que votre problème soit résolu dans les plus brefs délais.
 Pour plus de détails, suivez le guide utilisateur dans les paramètres.
</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Version 1.0<i class="fas fa-angle-up"></i>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqs">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Comment utiliser l'application ?  <i class="fas fa-angle-up"></i>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqs">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>
</div>
</ion-content>
<!-- <app-footer></app-footer> -->

