<ion-content class="mainbackground">
<div class="header">
<ion-toolbar>
<div class="container">
<div class="row">
<div class="col-8"><div class="title"><a (click)="dashboardPage()" ><ion-icon name="arrow-back"></ion-icon></a></div>
</div>
</div>
</div>
</ion-toolbar>
</div>
<div class="body">
<div class="container">
    <div class="profile-box">
        <div class="top">
        <div class="pic "><img src="../../../assets/images/notifications.png" class="w-100" style="width:85% !important;"/></div>
        <div class="title">Bonjour</div>
        <div class="location">{{Userdata.nom}} {{Userdata.prenom}}</div>
        <!-- <div class="location">Niang Astou</div> -->
        </div>
        </div>
        <div class="card">
            <div class="card-body">
            <div class="label">Bonjour Matar,</div>
            <div class="value"> votre demande de libération de
                session Nessico a été
                  effectuée avec succés.
                </div>
         
            </div>
        </div>

</div>
</div>
</ion-content>
