<ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block">
        <a (click)="AuthentificationPage()"><ion-icon name="arrow-back" style="color: black;"></ion-icon></a> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
  <ion-content class="mainbackground">
    <div class="form-box">
     <div class="logo"><img src="../../../assets/images/MALADO.png" class="w-100"></div>
     <div *ngIf="isAlert" class="alert alert-danger" role="alert">
      {{alertMsg}}
    </div>
     <div class="title"><h1>Mot de passe oublie ?</h1></div>
      <div class="or"></div>
     <form ngForm="form" (submit)="forgotpassword()">
       <div class="form-group">
        <div>
          <input type="email"  class="form-control" id="username" placeholder=" saisir votre email" name="email" [(ngModel)]="emailField" required="" />
        </div> 
        </div>
        <div class="text-center" ><p>
            <small><br>Un lien vous seras envoyer sur cette email<br>
              merci de cliquer pour confirmer</small>
          </p>
          </div>
          <button  class="theme btn btn-primary form-control" style="padding: 0px;">Continuer</button>    
     </form>
     </div>
    </ion-content>
    
  



<!-- <ion-content class="mainbackground">

<div class="form-box">
<div class="logo"><img src="../../../assets/images/logoicon.svg" class="w-100"></div>
<div class="title-box">
<div class="title">Forgot password?</div>
</div>
<form>
<div class="form-group">
<input type="text" placeholder="Username" class="form-control" />
</div>
<div class="text-center">
<button type="submit" class="theme btn btn-primary">Submit</button>
</div>
</form>
</div>

<div class="footer-link"> Back to <a (click)="registerPage()">Sign up</a></div>
</ion-content> -->
