
.form-box
{
  width:300px;
  margin:auto;
  height:240px;
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  text-align:center;
}
.form-box .logo
{
  width:60px;
  margin:auto;
}

.title
{
vertical-align: top;
color:#231F20;
font-size:16px;
font-weight:600;
position:relative;
text-align:center;
margin-top:15px;
margin-bottom:20px;
}

.footer-link
{
   font-size:14px;
   font-weight:400;
   color:#231F20;
   text-align:center;
   position:fixed;
   bottom:20px;
   left:0px;
   right:0px;
}

.footer-link a
{
  color:#be2623;
  cursor:pointer;
  text-decoration:none;
}
.footer-link a:hover
{
   color:#f79e1b;
}