.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-bottom:0px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: #CCC;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
background: rgb(1, 170, 39) !important;
}
input:checked + .slider:before {
 background-color: #FFF;
}

input:focus + .slider {
  box-shadow:none;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.help-box
{
text-align:center;
margin-top:60px;
}
.help-box .icon
{
   width:40px;
   margin:auto;
   margin-bottom:5px;
}
.help-box .name
{
  color:#231F20;
  margin-bottom:10px;
}
