<!-- <app-sidebar></app-sidebar> -->

<ion-content class="mainbackground">

    <div class="header">
        <ion-toolbar>
        <div class="container">
        <div class="row">
        <div class="col-8"><div class="title"><a (click)="dashboardPage()" ><ion-icon name="arrow-back"></ion-icon></a></div>
        </div>
        <!-- <div class="col-4 text-right"><a class="pulse-animation notification-btn"><i class="far fa-bell"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/user-profile.jpg" class="width-100"/></div></div> -->
        </div>
        </div>
        </ion-toolbar>
     </div>
<div class="container">
<div class="body">
<div class="profile-box">
<div class="top">
<div class="pic"><img src="../../../assets/images/user-profile.jpg" class="w-100"/></div>
<div class="name">{{ Userdata.nom }} {{ Userdata.prenom }}</div>
<div class="location">Dakar, SENEGAl</div>
</div>
<div class="bottom">
<div class="row">
<div class="col-6">
<div class="label">Departement</div>
<div class="value text-success">SMC</div>
</div>
<div class="col-6">
<div class="label">Service</div>
<div class="value text-danger">SMMO</div>
</div>
</div>
</div>
</div>
<div class="head">Informations Personel</div>
<div class="card">
<div class="card-body">
<div class="label">Address</div>
<div class="value">rue 06x27 Medina, Dakar, SENEGAL</div>
<div class="label">Email</div>
<div class="value">{{Userdata.email}}</div>
<div class="label">Loginad</div>
<div class="value">{{Userdata.login}}</div>
</div>
</div>
</div>
</div>
</ion-content>
<!-- <app-footer></app-footer> -->
