// * {
//     font-family: lato;
// }


.menu-header-bg{
       height: 140px;
       width: 350px;
       background-color: #f79e1b;
       background:linear-gradient(90deg,#f79e1b 0%,#f89c11 100%);
       box-shadow: 0px 1px 10px rgba(98,140,255,0.5);
       transform: rotate(-15deg);
       border-radius: 10px 10px 10px 50px;
       margin-left: -18px;
       margin-top: -50px;
       margin-bottom: 60px;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
}

ion-icon{
    margin-right: 1px;
}

.menu-header-bg{
    height: 140px;
    width: 350px;
    background-color: #f79e1b;
    background:linear-gradient(90deg,#f79e1b 0%,#f89c11 100%);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content{
 position: absolute;
 top: 30px;
 left: 15px;
 display: flex;
 align-items: center;

}


ion-icon{
 margin-right: 1px;
}


.menu-items{
 margin: 0px;
 ion-icon{
     margin-right: 20px;
     color:#86979f;
 }

 ion-item {
     padding-left: 20px;
     margin-bottom: 10ox;
     --background:rgb(247,247,247);
     color: black;
 }
}





















.transactions-box {
    background: #F5F5F5;
}

.header{
    margin-top: 0;
}

ion-toolbar{
    --background: #f79e1b;
}

.search-box {
    margin-top: 10%;
}

// .head-title{
//     margin-top: 10%;
// }


.search-box input {
    background: #fffbfb;
}

ion-content{
    ion-col{
        ion-icon{
            zoom: 1.0;
            //padding: 0px 0 0 0;
           // margin-top: 10%px;
            &:first-child{
                zoom: 2.0;
                padding: 4px;
                //margin: 1;
            }
        }
        h2{
            margin-top: 0;
            margin-top: 0;

            //size: 1p;
            // color: black !important;
            // font-weight: bold;
        }
        ion-card{
            text-align: center;
            border-radius: 15%;
            background-color: #f79e1b;
            
        }
    }
}