
.transactions-box {
    background: #F5F5F5;
}

.header{
    margin-top: 0;
}

ion-toolbar{
    --background: #f79e1b;
}

.search-box {
    margin-top: 10%;
}

// .head-title{
//     margin-top: 10%;
// }


.search-box input {
    background: #fffbfb;
}

ion-content{
    ion-col{
        ion-icon{
            zoom: 1.0;
            //padding: 0px 0 0 0;
           // margin-top: 10%px;
            &:first-child{
                zoom: 2.0;
                padding: 4px;
                //margin: 1;
            }
        }
        h2{
            margin-top: 0;
            margin-top: 0;

            //size: 1p;
            // color: black !important;
            // font-weight: bold;
        }
        ion-card{
            text-align: center;
            border-radius: 15%;
            background-color: #f79e1b;
            
        }
    }
}