<ion-content class="mainbackground" (click)="closeCupstom()">
  <div class="header">
    <ion-toolbar>
  <div class="container">
  <div class="row" >
  <div class="col-8">
    <div class="title" style="float: left; margin-top:5px"><a (click)="openCustom()"><ion-menu-button></ion-menu-button></a></div>
  </div>
  <div class="col-4 text-right"><a class="pulse-animation notification-btn" (click)="notificationsPage()"><i class="far fa-bell"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/profil.png" class="width-100"/></div></div>
  </div>
  </div>
</ion-toolbar>
  </div>
  <div *ngIf="isAlertDanger" class="alert alert-danger" role="alert">
    {{alertMsg}}
  </div>
  <div *ngIf="isAlertSuccess" class="alert alert-success" role="alert">
    {{alertMsg}}
  </div>
  <div class="search-box">
  <div class="container position-relative">
  <form>
  <input type="search" placeholder="Rechercher" id="search"/>
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
  </div>
  <!-- <div class="head-title"> -->
  <div class="head-title"><div class="container"><h3>Mes Favoris</h3></div></div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <a (click)="presentPrompt('reset','oracle',0,'Saisir votre mot de passe oracle')">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/password.svg"></ion-icon>
          <ion-text>
            <small><br>reset<br>
              password<br>
              oracle</small>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
      <ion-col size="4">
        <a (click)="presentPrompt('reset','windows',0,'Saisir votre mot de passe AD')">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/password.svg"></ion-icon>
          <ion-text>
            <small><br>reset<br>
              password<br>
              AD</small>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
      <ion-col size="4">
        <a (click)="presentPrompt('deverrouillage','Nessico',0,'Saisir votre mot de passe Nessico')">
          <ion-card color="white">
          <ion-icon src="../../../assets/images/password.svg"></ion-icon>
          <ion-text>
            <small><br><small>Deverrouillage</small><br>
              compte<br>
              Nessico</small> 
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- </div> -->
  <div class="body">
  <div class="head-title"><div class="container"><h3>Mes Services</h3></div></div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <a (click)="windowsPage()">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/windows-logo-svgrepo-com.svg"></ion-icon>
          <ion-text>
           <p> <small>windows</small></p>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
      <ion-col size="4">
        <a (click)="nessicoPage()">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/services.svg"></ion-icon>
          <ion-text>
           <p> <small>Nessico</small></p>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
      <ion-col size="4">
        <a (click)="oraclePage()">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/oracle.svg"></ion-icon>
          <ion-text>
            <p><small>Oracle</small></p>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
      <ion-col size="4">
        <a (click)="simplissimoPage()">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/services.svg"></ion-icon>
          <ion-text>
            <p><small>Simplissimo</small></p>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>

      <ion-col size="4">
        <a (click)="gaiaPage()">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/services.svg"></ion-icon>
          <ion-text>
            <p><small>Gaia</small></p>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
      <ion-col size="4">
        <a (click)="autresPage()">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/outlook.svg"></ion-icon>
          <ion-text>
            <p><small>Outlook</small></p>
          </ion-text>
        </ion-card>
      </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  <div>
    <ion-menu menuId="main-menu" side="start" class="my-custom-menu">
      <ion-content class="mainbackground">
        <div class="menu-header-bg"></div>
        <div class="header-content">
            <h2 style="color: black;">MENU</h2>
        </div>
        <div class="menu-items">
          <ion-item>
           <a (click)="setting()"> <ion-icon name="settings"></ion-icon>Parametre</a>
          </ion-item>
          
          <ion-item>
            <a (click)="historique()"> <ion-icon name="document"></ion-icon>Demande</a>
          </ion-item>
          <ion-item>
            <a (click)="assistance()"><ion-icon name="people"></ion-icon>Assistance</a>
          </ion-item>
          <ion-item>
            <a (click)="AuthentificationPage()"><ion-icon name="exit-outline"></ion-icon>Se deconnecter</a> 
          </ion-item>
        </div>
      </ion-content>
      <ion-router-outlet main></ion-router-outlet>
    </ion-menu>
    
  </div>
  </ion-content>
  

  
