.transactions-box {
    background: #F5F5F5;
}

.header{
    margin-top: 0;
}

ion-toolbar{
    --background: #f79e1b;
}


.head-title{
    margin-top: 20%;
}


.search-box input {
    background: #F5F5F5;
    //width: 100%;
}

.search-box {
    margin-top: 20%;
}

// ion-content{
//     ion-col{
//         ion-icon{
//             zoom: 2.8;
//             padding: 5px;
//             &:first-child{
//                 zoom: 3.8;
//                 padding: 5px;
//             }
//         }
//         h2{
//             margin-top: 0;
//         }
//         ion-card{
//             margin-top: 20%;
//             text-align: center;
//             border-radius: 15%;
//             background-color: #f79e1b;;
//         }
//     }
// }


ion-content{
    ion-col{
        ion-icon{
            zoom: 1.0;
            //padding: 0px 0 0 0;
           // margin-top: 10%px;
            &:first-child{
                zoom: 2.0;
                padding: 4px;
                //margin: 1;
            }
        }
        h2{
            margin-top: 0;
            margin-top: 0;

            //size: 1p;
            // color: black !important;
            // font-weight: bold;
        }
        ion-card{
            text-align: center;
            border-radius: 15%;
            background-color: #f79e1b;
            
        }
    }
}