.form-box
{
  width:400px;
  margin:auto;
  height:50px;
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  text-align:center;
  // padding-top:5%;
  margin-top: 0%;
}
.form-box .logo
{
  width:150px;
  margin:auto;
}

.form-page-box{
  padding-top: 0%;
  position:absolute;
}



.text-center{

  margin-bottom:0%;
  text-align: center;
  color: black;
}
.mt-3{
  padding-top: 10%;
}
.form-control-m{
  font-size: 14px;
  font-weight: 500;
  border-radius: 35px;
  --background:#f7f7f7;
  --highlight-background: #f7f7f7;
  height: 45px;
  //line-height: 45px;
  // color: #231F20;
  //  padding-left: 20px;
  //  padding-right: 20px;
  margin-bottom:10%;
   border: 1px solid #777;
   ion-input {
    color: #231F20;
}
ion-icon {
   color: #231F20;
}

}

.social 
{
margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
padding: 0px;
list-style: none;
text-align: center;
margin-top: 15px;
margin-bottom: 15px;
}
ul.social li {
    display: inline-block;
    margin-right: 10px;
}
ul.social li a {
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #CCC;
	line-height: 40px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
}
ul.social li:first-child a {
    background: #4267B2;
    border: 0px;
    color: #FFF;
}
ul.social li:nth-child(2) a {
    background: #00ACAA;
    border: 0px;
    color: #FFF;
}
.form-box ul.social li:last-child a {
    background: #0E76A8;
    border: 0px;
    color: #FFF;
}
.form-box ul.social li a:hover {
    opacity: 0.8;
}
.form-box .or {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #231F20;
}
.form-box .forgot a {
    text-align: center;
    font-size: 14px;
    color: #231F20;
    opacity: 0.8;
    margin-top: 10px;
    display: block;
	text-decoration:none;
}
.form-box .forgot a:hover {
    color: #EB001B;
}
.footer-link
{
   font-size:14px;
   font-weight:400;
   color:#231F20;
   text-align:center;
   position:fixed;
   bottom:20px;
   left:0px;
   right:0px;
}
ion-toolbar{
  --background: #f79e1b;
  
}

.timer{
  background-color: #F5F5F5;
  margin-top: 60%;
}

.footer-link a
{
  color:#be2623;
  cursor:pointer;
  text-decoration:none;
}
.footer-link a:hover
{
   color:#f79e1b;
}

#progress-circle{
//  padding-top: 30%;
 transform: rotate(-90deg);
}
.timer-text{
 transform: rotate(90deg);
 transform-origin: center;
  font-size: 36px;
  text-anchor: middle;
  font-weight: 600;
  fill: #333;
}

