<ion-toolbar>
    <ion-buttons slot="start">
      <ion-button expand="block">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
<ion-content  *ngIf= "!isActivated || (isActivated && !hasPassword)" class="mainbackground">
<div class="form-box">
<div class="logo"><img src="../../../assets/images/MALADO.png" class="w-100" style="margin-top: 0px;"></div></div>
<div class="container" >
<div class="header">
</div>
<div class="body">
<div class="form-box" *ngIf="!isActivated">
    <div class="timer" >
        <div class="title"><small>Un mail vous a été envoyé<br>Merci de confirmer <br>
          Duree de validité 1mn</small></div>
        <svg 
        id="progress-circle"
        width="50vh"
        height="20vh"
        viewBox="0 0 200 200"
        >
        <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
          <stop offset="0%" stop-color="#f79e1b"></stop>
          <stop offset="100%" stop-color="#f79e1b"></stop>
        </linearGradient>
        <circle
        cx="50%"
        cy="50%"
        [attr.r]=" circleR"
        fill="none"
        stroke="#f3f3f3"
        stroke-width="12"
        />
        <circle
        cx="50%"
        cy="50%"
        [attr.r]=" circleR"
        fill="none"
        stroke="url(#linearColors1)"
        stroke-width="12"
        stroke-linecap="round"
        [attr.stroke-dasharray]="circleDasharray"
        [attr.stroke-dashoffset]="percentageOffset(percent | async)"
        />
        <text x="50%" y="55%" class="timer-text">{{ time | async }}</text>
      </svg>
    </div>
</div>
<div class="form-page-box" *ngIf="isActivated">
    <form ngForm="form" (submit)="confirmpassword()" >
        <div class="form-group">
        <!-- <input type="password" placeholder="New Password" name="confirm" [(ngModel)]="confirmdField" class="form-control"/> -->
        
          <ion-item class="form-control-m">
          <ion-input  type="password"  placeholder="mot de passe" [type]="showPassword ? 'text' : 'password'" name="confirm" [(ngModel)]="confirmdField"></ion-input>
          <ion-icon [name]="passwordToggleIcon" slot="end" (click)="togglePassword()"></ion-icon>
          </ion-item>
        </div>
        
        <div class="form-group">
            <!-- <input type="password" placeholder="Confirm Password" name="password" [(ngModel)]="passwordChamp" class="form-control"/> -->
            
              <ion-item class="form-control-m">
              <ion-input  type="password"  placeholder="mot de passe" [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="passwordChamp"></ion-input>
              <ion-icon [name]="passwordToggleIcon" slot="end" (click)="togglePassword()"></ion-icon>
              </ion-item>
            
        </div>

        <p class="text-center" ><small><br>Un minimun de 7 caractères est requis<br>
          Le mot de passe doit être différent du loginAD</small>
        </p>
        
   
        
        <div class="mt-3">
            <button [disabled]="confirmdField.length < 6 || confirmdField!=passwordChamp || confirmdField == loginAd" type="submit" class="theme btn btn-primary form-control" style="padding: 0px 0px">Continuer</button>
        </div>
    </form>
</div>
</div>
</div>
</ion-content>




