<ion-content class="mainbackground">
  <div class="header">
    <ion-toolbar>
  <div class="container">
  <div class="row">
  <div class="col-8" style="margin-top: 5px;"><div class="title"><a (click)="dashboardPage()"><ion-icon name="arrow-back"></ion-icon></a></div>
  </div>
  <div class="col-4 text-right"><a class="pulse-animation notification-btn" (click)="notificationsPage()"><i class="far fa-bell"></i></a> <div class="profile-pic" (click)="profilePage()"><img src="../../../assets/images/profil.png" class="width-100"/></div></div>
  </div>
  </div>
  </ion-toolbar>
  </div>

  <div class="search-box">
  <div class="container position-relative">
  <form>
  <input type="search" placeholder="Rechercher" id="search"/>
  <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  </div>
  </div>
  <div class="head-title">
  </div>
  <div class="body">
  <div class="head-title"><div class="container"><h2>COMPTE ORACLE</h2></div></div>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/password.svg"></ion-icon>
          <ion-text>
            <small>
              <br>reset<br>
              password
            </small>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card color="white">
          <ion-icon src="../../../assets/images/java-svgrepo-com.svg"></ion-icon>
          <ion-text>
            <small>
              <br>installation<br>
              java
            </small>
          </ion-text>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
  </ion-content>
  