<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content class="mainbackground">
      <div class="menu-header-bg"></div>
      <div class="header-content">
        <!-- <icon-label> -->
          <h2>MENU</h2>
        <!-- </icon-label> -->
      </div>
  

      <div class="menu-items">
        <ion-item>
          <ion-icon name="settings"></ion-icon>Parametre 
        </ion-item>
        <ion-item>
          <ion-icon name="person"></ion-icon>Profile
        </ion-item>
        <ion-item>
          <ion-icon name="document"></ion-icon>Demande
        </ion-item>
        <ion-item>
          <ion-icon name="people"></ion-icon>Guide d'uttilisateur
        </ion-item>
        <ion-item>
          <a (click)="AuthentificationPage()"><ion-icon name="exit-outline"></ion-icon>Se deconnecter</a> 
        </ion-item>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>