#progress-circule{
    margin-top: 50px;
    //transform: rotate(-90deg);
}
.timer-text{
   // transform: rotate(-90deg);
    // transform-origin: center;
    font-size: 36px;
    text-anchor: middle;
    font-weight: 600;
    fill: #333;
}



// https://www.youtube.com/watch?v=aOHJRqvcjTI