<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button expand="block" >
      <a (click)="AuthentificationPage()"><ion-icon name="arrow-back"></ion-icon></a> 
    </ion-button>
  </ion-buttons>
  
</ion-toolbar>

<ion-content class="mainbackground">
  <!-- class="mainbackground" -->
  <!-- <div class="row" style="background-color: #f79e1b;">
    <div class="col-8">
      <div class="title" style="text-align: center;"><a (click)="AuthentificationPage()" ><i class="fa fa-chevron-circle-left" style="margin-left: -397px;" ></i></a> 
      </div>
    </div>
    </div> -->
  <div class="form-box">
   <div class="logo"><img src="../../../assets/images/MALADO.png" class="w-100"></div>
   <div class="title"><h1>Inscription</h1></div>
    <div class="or"></div>
   <form ngForm="form" (submit)="loginad()">
     <div class="form-group">
      <div >
        <input type="text"  class="form-control" id="numero" placeholder=" numero de telephone" name="numero" required />
      </div> 
      <div >
        <input type="text"  class="form-control" id="username" placeholder=" saisir votre loginAD" name="loginad" [(ngModel)]="loginField" required />
      </div>
      
      <!-- <div>
        <p style="color: black;text-align: center;"><br><br>
        <small>les trois premieres caractères du loginAD doit etre en majuscule</small></p>
      </div> -->

      </div>
        <button  class="theme btn btn-primary form-control" style="padding: 0px;">Continuer</button>    
   </form>
   </div>
  </ion-content>
  
