.scan-btn
{
position: relative;
height: 130px;
}
.scan-btn .icon
{
   width:50px;
   margin:auto;
}
.scan-btn .icon img
{

	position: absolute;
	width: 50px !important;
	height: 50px;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;

}
.scan-btn .icon:after
{
  content:"";
  position:absolute;
  width:200px;
  height:50px;
  left:0px;
  right:0px;
  margin:auto;
  border-left:5px solid #007bff;
  border-right:5px solid #007bff;
  border-bottom:5px solid #007bff;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  bottom:0px;
}
.scan-btn .icon:before
{
  content:"";
  position:absolute;
  width:200px;
  height:50px;
  left:0px;
  right:0px;
  margin:auto;
  border-left:5px solid #007bff;
  border-right:5px solid #007bff;
  border-top:5px solid #007bff;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  top:0px;
}
.or-text
{
  font-size:12px;
  color:#231F20;
  font-weight:700;
  text-align:center;
  margin-top:15px;
  margin-bottom:15px;
}

.paymentoptions ul
{
  margin:0px;
  padding:0px;
  list-style:none;
  width: 180px;
  margin:auto;
}
.paymentoptions ul li
{
  display:inline-block;
}
.paymentoptions ul li a
{
  display:block;
  width:50px;
  height:50px;
  line-height:50px;
  text-align:center;
  background:rgba(255,255,255,0.1);
  border-radius:5px;
  margin-right:15px;
  }
  .paymentoptions ul li:first-child a
  {
  background: rgba(40, 167, 69,0.2) !important;
 
  }
   .paymentoptions ul li:nth-child(2) a
  {
   background: rgba(220, 53, 69,0.2) !important;
  }
  .paymentoptions ul li:last-child a
  {
     margin-right:0px;
	 
	  background: rgba(255, 193, 7,0.2) !important;
  }
   .paymentoptions ul li a:hover img
   {
     transform:rotate(180deg);
   }
.paymentoptions ul li a img
{
   width:20px !important;
   transition: all 0.3s ease-out 0s;
}