<ion-content class="mainbackground" >
    <!-- -->
<div class="logo">
<div class="logo-box">
<div class="icon"><img src="../../../assets/images/MALADO.png" class="w-100"/></div>
<!-- <div class="name">MALADO</div> -->
</div>
</div>
<div class="walkthrough-slider">

<owl-carousel [options]="mySlideOptions" class="owl-theme">
   
    <div class="item">
        <div class="icon"><img src="../../../assets/images/img-tm-100_preview_rev_1.jpeg" class="w-100 h-100"/></div>
        <!-- <div class="slider-title">Deblocage compte AD?</div> -->
        <p class="slider-description">Vos problémes d’expiration de mot de passe,<br>Liberation de sessions Nessico, gaia....<br>sont resolus dans les plus brefs délais</p>
        </div>
        
     <div class="item">
    <div class="icon"><img src="../../../assets/images/images_preview_rev_1.jpeg" class="w-100 h-100" style="background-color: rgb(255, 255, 255);"/></div>
    <div class="slider-title"></div>
    <p class="slider-description">Vous avez la possibilité de réinitialiser votre mot de password compte windows.</p>
    </div>
    <div class="item">
    
        <div class="icon"><img src="../../../assets/images/assistance_call.jpeg" class="w-100 h-100"/></div>
    <div class="slider-title">GAIA-SIMPLISSIMO-KIBARU-NESSICO-ORACLE</div>
    <p class="slider-description">Gestion des mots de passes de vos comptes:)</p>
  
    </div>
     </owl-carousel>
   
     </div> 
<div class="bottom-btn-box">
<a class="theme btn btn-primary "(click)="loginPage()">Passer</a>
</div>     
</ion-content>