<app-sidebar></app-sidebar>
<ion-content class="mainbackground">
<div class="header">
<div class="container">
<div class="row">
<div class="col-8"><div class="title"><span class="small-logo"><img src="../../../assets/images/logoicon.svg" class="w-100"/></span> <span class="name">Dashboard</span></div>
</div>

</div>
</div>
</div>
                                        <!--les informations de l'utilisateur-->
<div class="body">
<div class="blue-card">
<div class="container">
<div class="card bg-primary">
<div class="card-body">
<div class="accountbalance">Bienvenue <div class="float-right">Malado a vos servicess</div></div>
<div class="balanceinfo">
<div class="name"></div>
<div class="expiredate"></div>
</div>
</div>
</div>
</div>
</div>
<div class="head-title"></div>
<div class="transactionlist">
<div class="container">
<div class="transactions-box">
<div class="left"><div class="icon bg-danger"></div></div>
<div class="middle">
<div class="title">Compte windows</div>
</div>
<div class="right">
<div class="price text-danger"> <a (click)="Comptewindows()">GO</a></div>
</div>
</div>
<div class="transactions-box">
<div class="left"><div class="icon bg-success"></div></div>
<div class="middle">
<div class="title">Compte GAIA</div>
</div>
<div class="right">
<div class="price text-success"><a (click)="Comptegaia()">GO</a></div>
</div>
</div>
<div class="transactions-box">
<div class="left"><div class="icon bg-danger"><a (click)="Comptenessico()"></a></div></div>
<div class="middle">
<div class="title">Compte KIBARU</div>
</div>
<div class="right">
<div class="price text-danger"><a (click)="Comptekibaru()">GO</a></div>
</div>
</div>

<div class="transactions-box">
    <div class="left"><div class="icon bg-success"></div></div>
    <div class="middle">
    <div class="title">Compte NESSICO </div>
    </div>
    <div class="right">
    <div class="price text-success"><a (click)="Comptenessico()">GO</a></div>
    </div>
    </div>

    <div class="transactions-box">
        <div class="left"><div class="icon bg-danger"></div></div>
        <div class="middle">
        <div class="title">Compte ORACLE</div>
        </div>
        <div class="right">
        <div class="price text-danger"><a (click)="Compteoracle()">GO</a></div>
        </div>
        </div>
</div>
</div>
</div>

</ion-content>
<app-footer></app-footer>
