<ion-content class="mainbackground">
  <div class="container">
  <div class="header">
  <div class="row">
  <div class="col-8"><div class="title"><a (click)="dashboardPage()" class="back-btn"><i class="fas fa-angle-left" ></i></a>Nessico</div>
  </div>
  </div>
  </div>
  <div class="body">
    <ion-card *ngFor="let item of todoList;" class="mainbackground">
      <ion-card-header class="mainbackground">
        <ion-card-subtitle [style.color]="item['status'] === 'i' ? 'red' : (item['status'] === 'ok' ? 'green' : 'orange')">
          {{item['action']}} {{item['nomApp']}}
        </ion-card-subtitle>
        <ion-item class="mainbackground">
          <ion-icon *ngIf="item['status'] === 'i'" color="danger" size="small" name="document"></ion-icon>
          <ion-icon *ngIf="item['status'] === 'ok'" color="success" size="small" name="document"></ion-icon>
          <ion-icon *ngIf="item['status'] === 'e'" color="warning" size="small" name="document"></ion-icon>
          <ion-label *ngIf="item['status'] === 'i'" color="danger"><small>Demande pas encore prise en charge</small></ion-label>
          <ion-label *ngIf="item['status'] === 'ok'" color="success"><small>Demande traiter avec success</small></ion-label>
          <ion-label *ngIf="item['status'] === 'e'" color="warning"><small>Demande en cour de traitement </small></ion-label>
        </ion-item>
        <ion-item class="mainbackground">
          <ion-icon *ngIf="item['status'] === 'i'" color="danger" size="small" name="mail-unread"></ion-icon>
          <ion-icon *ngIf="item['status'] === 'ok'" color="success" size="small" name="mail-unread"></ion-icon>
          <ion-icon *ngIf="item['status'] === 'e'" color="warning" size="small" name="mail-unread"></ion-icon>
          <ion-label *ngIf="item['status'] === 'i'" color="danger"><small> {{ item['password'] }} </small></ion-label>
          <ion-label *ngIf="item['status'] === 'ok'" color="success"><small> {{ item['password'] }} </small></ion-label>
          <ion-label *ngIf="item['status'] === 'e'" color="warning"><small> {{ item['password'] }} </small></ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-label>Date creation : {{item['dateDemande'] }}</ion-label>
      </ion-card-content>
      <ion-row >
        <ion-item button (click)="deleteDemande(item['id'])" class="mainbackground">
          <!-- <ion-icon name="trash-outline" style="color: black;">Cancel</ion-icon>   -->
          <ion-button color="danger">Suprimer</ion-button>
        </ion-item>
      </ion-row>
    </ion-card>
  </div>
  </div>
</ion-content>
